
<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Id</th>
      <th scope="col">Name</th>
      <th scope="col">Discription</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let product of products">
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>category here</td>
      <td>{{product.price}}</td>
      <td><button (click)="deleteProductById(product.id)" class="btn btn-outline-danger" type="submit">Delete</button></td>
      <td><button class="btn btn-outline-success" type="submit">Update</button></td>
    </tr>
  </tbody>
</table>
