.form-control
{
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
}
.form-group{
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
}
.btn
{
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 10px;
}
